<%- include("header")  %>


    <div id="content" class="main-content">

        <div class="layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4><b>Edit Product </b></h4>
                                <div class="mt-4">
                                    <h5>Edit Product details</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-content widget-content-area">
                        <form method="POST" action="/product/editProducts">
                            <input id="t-text" name="id" type="text" name="txt" placeholder="Onion" value="<%=product[0].id%>" class="form-control" hidden>

                            <p>Product name</p>
                            <div class="form-group">
                                <input id="t-text" name="name" type="text" name="txt" placeholder="Onion" value="<%=product[0].name%>" class="form-control" required>


                            </div>
                            <p>Marathi Name</p>
                            <div class="form-group">
                                <input id="tel" name="marathi" type="text" placeholder="कांदा" value="<%=product[0].marathi%>" class="form-control" required>


                            </div>
                            <p>Hindi Name</p>
                            <div class="form-group">
                                <input id="input-gst" type="text" name="hindi" placeholder="कांदा" value="<%=product[0].hindi%>" class="form-control" required>

                            </div>
                            <p>Weight Type</p>
                            <div class="form-group">
                                <input id="e-text" type="text" name="weight_type" placeholder="Kg,Dozen" value="<%=product[0].weight_type%>" class="form-control" required>
                            </div>
                    </div>
                    <div class="container">
                        <div class="center">
                            <button class="mt-4 btn btn-primary">Register</button>

                        </div>
                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>




    <%-include("footer")  %>