<%- include("header") %>
    <style>
        @media (max-width: 480px) {
            .inb {
                margin-left: 2.9rem !important;
            }
        }
        
        .inb {
            margin-left: 4.5rem;
        }
    </style>
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row invoice layout-top-spacing">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="app-hamburger-container">
                        <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>
                    </div>
                    <div class="doc-container">
                        <div class="tab-title">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="search">
                                        <input type="text" class="form-control" placeholder="Search...">
                                    </div>
                                    <ul class="nav nav-pills inv-list-container d-block" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <div class="nav-link list-actions" id="<%=data[0].invoiceID%>" data-invoice-id="<%=data[0].invoiceID%>">
                                                <div class="f-m-body">
                                                    <div class="f-head">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                                    </div>
                                                    <div class="f-body">
                                                        <p class="invoice-number">Invoice #
                                                            <%=data[0].invoiceID%>
                                                        </p>
                                                        <p class="invoice-customer-name"><span>To:</span>
                                                            <%=data[0].name%>
                                                        </p>
                                                        <p class="invoice-generated-date">
                                                            <%=data[0].date%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="invoice-container">
                            <div class="invoice-inbox">

                                <div class="inv-not-selected">
                                    <p>Open an invoice from the list.</p>
                                </div>

                                <div class="invoice-header-section">
                                    <h4 class="inv-number"></h4>

                                    <div class="row">
                                    <div class="col-sm-5 col-md-12 ">
                                                    
                                        <%if (data[0].status!=2) { %>
                                            <input id="amount" type="number" name="amount" placeholder="$100" class="mb-4 form-control" required>
                                            <div class="row ml-1">
                                            <button onclick="update()" class="btn btn-secondary mb-2"><%if (parseInt(data[0].paid_amount) > 0 ) {%>
                                             update   
                                           <% }else{%>Update<%}%></button>
                                            <button onclick="closeInvoice()" class="btn btn-danger mb-2">Close invoice</button>
                                                </div>

                                            <%}%>
                                    </div>
                                    </div>
                                    <div class="invoice-action">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer action-print" data-toggle="tooltip" data-placement="top"
                                            data-original-title="Print"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
                                    </div>
                                </div>

                                <div id="ct" class="">

                                    <div class="<%=data[0].invoiceID%>">
                                        <div class="row">
                                            <div class="content-section  animated animatedFadeInUp fadeInUp col-sm-6 col-md-6 col-6">

                                                <div class="row inv--head-section">
    
                                                    <div class="col-sm-6 col-12">
                                                        <!-- <h3 class="in-heading">INVOICE</h3> -->
                                                    </div>
                                                    <div class="col-sm-6 col-12 align-self-center text-sm-right">
                                                        <div class="company-info">
                                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hexagon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path></svg>
                                                            <h5 class="inv-brand-name">DADA</h5> -->
                                                        </div>
                                                    </div>
    
                                                </div>
    
                                                <div class="row inv--detail-section">
    
                                                    <div class="col-sm-5 align-self-center">
                                                        <p class="inv-to">Invoice To</p>
                                                    </div>
                                                    <div class="col-sm-7 align-self-center  text-sm-right order-sm-0 order-1">
                                                        <p class="inv-detail-title">From : <%= org %></p>
                                                    </div>
    
                                                    <div class="col-sm-5 align-self-center">
                                                        <p class="inv-customer-name">
                                                            <%=data[0].name%>
                                                        </p>
                                                        <p class="inv-street-addr">
                                                            <%=data[0].phone%>
                                                        </p>
                                                        <p class="inv-email-address">
                                                            <%=data[0].email%>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-7 align-self-center  text-sm-right order-2">
                                                        <p class="inv-list-number"><span class="inv-title">Invoice Number : </span> <span class="inv-number">#<%=data[0].invoiceID%></span></p>
                                                        <p class="inv-created-date"><span class="inv-title">Invoice Date : </span> <span class="inv-date"><%=data[0].date%></span></p>
    
                                                    </div>
                                                </div>
    
                                                <div class="row inv--product-table-section">
                                                    <div class="col-12">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th scope="col">S.No</th>
                                                                        <th scope="col">Products</th>
                                                                        <th class="" scope="col">Quantity</th>
                                                                        <th class="" scope="col">Price</th>
                                                                        <th class="" scope="col">Total Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <%
                                                                    let c = 1; 
                                                                
                                                                    data[0].products.map((pro)=>{ 
                                                                        %>
    
    
                                                                        <tr>
                                                                            <td>
                                                                                <%=c%>
                                                                            </td>
                                                                            <td>
                                                                                <%=pro.name%>
                                                                            </td>
                                                                            <td class="">
                                                                                <%=pro.quantity%>  <%= pro.weight_type%>
                                                                            </td>
                                                                            <td class="text-right">
                                                                                <%=pro.PerPrice%>  ₹
                                                                            </td>
                                                                            <td class="text-right">
                                                                                <%=pro.price%>  ₹
                                                                            </td>
                                                                            
                                                                        </tr>
    
                                                                        <% c++; 
                                                                     })%>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="row mt-4">
                                                    <div class="col-sm-5 col-12 order-sm-0 order-1">
                                                        
                                                        <!-- <%if (data[0].status!=2) { %>
                                                            <input id="amount" type="number" name="amount" placeholder="$100" class="mb-4 form-control" required>
                                                            <div class="row ml-1">
                                                            <button onclick="update()" class="btn btn-secondary mb-2"><%if (parseInt(data[0].paid_amount) > 0 ) {%>
                                                             update   
                                                           <% }else{%>Update<%}%></button>
                                                            <button onclick="closeInvoice()" class="btn btn-danger mb-2">Close invoice</button>
                                                                </div>
    
                                                            <%}%> -->
                                                    </div>
                                                    <div class="col-sm-7 col-12 order-sm-1 order-0">
                                                        <div class="inv--total-amounts text-sm-right">
                                                            <div class="row">
                                                                <div class="col-sm-8 col-7">
                                                                    <h6 class="">Total: </h6>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <h6 class="">
    
                                                                        <%=data[0].TotalPrice%>  ₹
    
                                                                    </h6>
                                                                </div>
                                                                <div class="col-sm-8 col-7">
                                                                    <h6 class="">Paid Amount: </h6>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <h6 class="">
    
                                                                        <%=data[0].paid_amount%>  ₹
    
                                                                    </h6>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                            <div class="content-section  animated animatedFadeInUp fadeInUp col-sm-6 col-md-6 col-6">

                                                <div class="row inv--head-section">
    
                                                    <div class="col-sm-6 col-12">
                                                        <!-- <h3 class="in-heading">INVOICE</h3> -->
                                                    </div>
                                                    <div class="col-sm-6 col-12 align-self-center text-sm-right">
                                                        <div class="company-info">
                                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hexagon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path></svg>
                                                            <h5 class="inv-brand-name">DADA</h5> -->
                                                        </div>
                                                    </div>
    
                                                </div>
    
                                                <div class="row inv--detail-section">
    
                                                    <div class="col-sm-5 align-self-center">
                                                        <p class="inv-to">Invoice To</p>
                                                    </div>
                                                    <div class="col-sm-7 align-self-center  text-sm-right order-sm-0 order-1">
                                                        <p class="inv-detail-title">From : <%= org %></p>
                                                    </div>
    
                                                    <div class="col-sm-5 align-self-center">
                                                        <p class="inv-customer-name">
                                                            <%=data[0].name%>
                                                        </p>
                                                        <p class="inv-street-addr">
                                                            <%=data[0].phone%>
                                                        </p>
                                                        <p class="inv-email-address">
                                                            <%=data[0].email%>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-7 align-self-center  text-sm-right order-2">
                                                        <p class="inv-list-number"><span class="inv-title">Invoice Number : </span> <span class="inv-number">#<%=data[0].invoiceID%></span></p>
                                                        <p class="inv-created-date"><span class="inv-title">Invoice Date : </span> <span class="inv-date"><%=data[0].date%></span></p>
    
                                                    </div>
                                                </div>
    
                                                <div class="row inv--product-table-section">
                                                    <div class="col-12">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th scope="col">S.No</th>
                                                                        <th scope="col">Products</th>
                                                                        <th class="" scope="col">Quantity</th>
                                                                        <th class="" scope="col">Price</th>
                                                                        <th class="" scope="col">Total Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <%
                                                                     c = 1; 
                                                                
                                                                    data[0].products.map((pro)=>{ 
                                                                        %>
    
    
                                                                        <tr>
                                                                            <td>
                                                                                <%=c%>
                                                                            </td>
                                                                            <td>
                                                                                <%=pro.name%>
                                                                            </td>
                                                                            <td class="">
                                                                                <%=pro.quantity%> <%= pro.weight_type%>
                                                                            </td>
                                                                            <td class="text-right">
                                                                                <%=pro.PerPrice%>  ₹
                                                                            </td>
                                                                            <td class="text-right">
                                                                                <%=pro.price%>  ₹
                                                                            </td>
                                                                            
                                                                        </tr>
    
                                                                        <% c++; 
                                                                     })%>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="row mt-4">
                                                    <div class="col-sm-5 col-12 order-sm-0 order-1">
                                                        
                                                        <!-- <%if (data[0].status!=2) { %>
                                                            <input id="amount" type="number" name="amount" placeholder="$100" class="mb-4 form-control" required>
                                                            <div class="row ml-1">
                                                            <button onclick="update()" class="btn btn-secondary mb-2"><%if (parseInt(data[0].paid_amount) > 0 ) {%>
                                                             update   
                                                           <% }else{%>Update<%}%></button>
                                                            <button onclick="closeInvoice()" class="btn btn-danger mb-2">Close invoice</button>
                                                                </div>
    
                                                            <%}%> -->
                                                    </div>
                                                    <div class="col-sm-7 col-12 order-sm-1 order-0">
                                                        <div class="inv--total-amounts text-sm-right">
                                                            <div class="row">
                                                                <div class="col-sm-8 col-7">
                                                                    <h6 class="">Total: </h6>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <h6 class="">
    
                                                                        <%=data[0].TotalPrice%>  ₹
    
                                                                    </h6>
                                                                </div>
                                                                <div class="col-sm-8 col-7">
                                                                    <h6 class="">Paid Amount: </h6>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <h6 class="">
    
                                                                        <%=data[0].paid_amount%>  ₹
    
                                                                    </h6>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                        

                                    </div>


                                </div>


                            </div>

                            <div class="inv--thankYou">

                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <p class="">Thank you for doing Business with us.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        function update() {
            const amount = document.getElementById("amount").value;
            if (!amount || amount < 0) {
                swal({
                    title: 'Something is wrong!',
                    text: "Enter valid amount ",
                    type: 'question',
                    padding: '2em'
                })
            } else {
                axios.post('<%=domain%>/invoice/update', {
                    amount: amount,
                    type: '<%=data[0].type%>',
                    id: <%=data[0].invoiceID%>
                }).then(
                    (response) => {
                        var result = response.data;
                        swal({
                            title: 'Amount added',
                            text: "Invoice added successfully",
                            type: 'success',
                            padding: '2em'
                        })
                        setTimeout(window.location.reload(), 5000)
                    },
                    (error) => {
                        console.log(error);
                    }
                );
            }
        }

        function closeInvoice() {

            axios.post('<%=domain%>/invoice/close', {
                type: '<%=data[0].type%>',
                id: <%=data[0].invoiceID%>,
            }).then(
                (response) => {
                    var result = response.data;
                    // console.log(result);
                    swal({
                        title: 'Invoice Closed',
                        text: "Invoice Closed successfully",
                        type: 'success',
                        padding: '2em'
                    })
                    setTimeout(window.location.reload(), 5000)
                },
                (error) => {
                    console.log(error);
                }
            );

        }
    </script>
    <%- include("footer") %>