<%- include("header") %>
    <%if(status=='empty'){

}else{
    if (status=='Error') { %>
        <script>
            swal({
                title: 'Something is wrong!',
                text: "<%= message%>",
                type: 'question',
                padding: '2em'
            })
        </script>
        <% }else{%>
            <script>
                swal({
                    title: 'Purchase created..',
                    text: "Purchased created successfully",
                    type: 'success',
                    padding: '2em'
                })
            </script>
            <%}}%>

                <div id="content" class="main-content">

                    <div class="layout-top-spacing">

                        <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h3><b>Create Purchase</b></h3>

                                            <div class="mt-4">
                                                <h5>Purchase details</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form action="/order/addPurchase" method="POST">
                                    <input name="type" value="VENDOR" hidden>

                                    <div class="input-group mt-4 mb-4">
                                        <p>Select Vendor</p>

                                        <select name="ref" id="list" class="placeholder js-states form-control">
   
</select>
                                    </div>
                                    <p>delivery date</p>

                                    <div class="input-group mb-4">
                                        <input type="date" name="date" id="dateTimeFlatpickr" class="form-control" placeholder="dd/mm/yyyy" aria-label="dd/mm/yyyy" required>
                                    </div>
                                    <div class="table-responsive mb-4">
                                        <p>Product & Quantity</p>

                                        <table id="style-3" class="table style-3  table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="checkbox-column text-center"> Record Id </th>
                                                    <th> Name</th>
                                                    <th>Marathi Name</th>
                                                    <th>quantity</th>
                                                    <th>price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%  let c=1;
                                data.forEach((product)=>{ %>
                                                    <tr>
                                                        <td class="checkbox-column text-center">
                                                            <%= c %>
                                                        </td>
                                                        <td>
                                                            <%= product.name %>
                                                        </td>
                                                        <td>
                                                            <%= product.marathi %>
                                                        </td>
                                                        <td>
                                                            <input name="quantity<%= c %>" type="number" step="000.1" placeholder="quantity" aria-label="enter the quantity">
                                                            <input name="product_id<%= c %>" value="<%=product.id%>" hidden>

                                                        </td>
                                                        <td>
                                                            <input name="price<%= c%>" type="number" placeholder="price" aria-label="enter the price">

                                                        </td>
                                                    </tr>
                                                    <% c++; %>
                                                        <% }); %>
                                                            <input name="count" value="<%=c%>" hidden>





                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="container">
                                        <div class="center">
                                            <button class="mt-4 btn btn-primary">Submit</button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <script src="/assets/axios.js"></script>

                <script>
                    function makeGetRequest(path) {
                        axios.get(path).then(
                            (response) => {
                                var result = response.data;

                                const sb = document.querySelector('#list');
                                console.log(result);
                                result.map((users) => {
                                    let option = new Option(users.name, users.id);
                                    // add it to the list
                                    sb.add(option, users.id);
                                });

                                // console.log(result.details[0].name);
                            },
                            (error) => {
                                console.log(error);
                            }
                        );
                    }
                    makeGetRequest('<%=domain%>/interact/getVendors');
                </script>
                <%- include("footer") %>