<%- include("header") %>
    <%if(status=='empty'){

}else{
    if (status=='Error') { %>
        <script>
            swal({
                title: 'Something is wrong!',
                text: "<%= message%>",
                type: 'question',
                padding: '2em'
            })
        </script>
        <% }else if (status=='Deleted') {%>
            <script>
                swal({
                    title: 'Order deleted',
                    text: "Record Deleted successfully",
                    type: 'success',
                    padding: '2em'
                })
            </script>
            <%}
        else{%>
                <script>
                    swal({
                        title: 'Details Update',
                        text: "Record Updated successfully",
                        type: 'success',
                        padding: '2em'
                    })
                </script>
                <%}}%>
                    <div id="content" class="main-content">

                        <div class="layout-top-spacing">

                            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4><b>Edit & Delete Purchase </b></h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget-content widget-content-area">

                                        <div class="table-responsive mb-4">
                                            <p><b>Purchase details</b></p>

                                            <table id="style-3" class="table style-3  table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class=" text-center">Purchase Id </th>
                                                        <th>Date</th>
                                                        <th>Hotel Name</th>
                                                        <th>Products</th>
                                                        <th class="text-center">Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%  let c=1;
                                    data.forEach((order)=>{ %>
                                                        <tr>
                                                            <td class="text-center">
                                                                <%= order.id%>
                                                            </td>
                                                            <td>
                                                                <%= order.date%>
                                                            </td>
                                                            <td>
                                                                <%= order.vendor.vendor_name%>
                                                            </td>
                                                            <td>
                                                                <%= order.products[0].name%>

                                                            </td>

                                                            <td class="text-center">
                                                                <ul class="table-controls">
                                                                    <li><a href="/order/editPurchase/<%= order.id%>" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                                                    <li><a href="/order/deletePurchase/<%= order.id%>" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-6 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <% });%>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>








                    <%- include("footer") %>