<%- include("header") %>
    <div id="content" class="main-content">

        <div class="layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header mb-4">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h3><b>Total Purchase</b></h3>


                            </div>
                        </div>
                    </div>




                    <p>delivery date</p>

                    <div class="input-group mb-4">
                        <input type="text" name="date" class="form-control" value="<%= data[0].date %>" placeholder="<%= data[0].date %>" aria-label="dd/mm/yyyy" disabled>
                    </div>
                    <div class="table-responsive mb-4">
                        <p>Product & Quantity</p>

                        <table id="total-purchase1" class="table style-3  table-hover">
                            <thead>
                                <tr>
                                    <th class="checkbox-column text-center"></th>
                                    <% 
                                    let hotels = [];
                                    let newH = [];
                                    data.forEach((product)=>{
                                        if(!hotels.includes(product.vendor_id)){
                                        %>
                                    <th><%= product.vendor_name%></th>
                                 <%
                                    hotels.push(product.vendor_id);
                                    newH.push(product.order_id);
                                     } }) %>
                                  <th>Total Quantity</th>
                                </tr>
                            </thead>
                            <tbody>

                               
                                <% 
                                let flag =1;
                                
                                if(flag){
                                %>
                                <tr>
                                    <td  class="checkbox-column text-center sticky-col"><b></td>
                                <%
                                
                                    newH.map((hotel)=>{
                                      
                                        %>
    
                                    
                                 <td><a class="btn btn-primary" target="_blank" href="/order/editPurchase/<%=hotel%>">Edit</a></td>
                                           
                                            <% })  %>
                                                  
                                                <td  class="checkbox-column text-center sticky-col"><b></td>
                                   
                                                    </tr>
                                                    <% 
                                                    flag=0;                  
                                                    }
                                                     %>
                           
                           
                                <%  
                                product.map((product)=>{
                                    let unit;
                               
                            %>
                                    <tr>
                                        <td  class="checkbox-column text-center sticky-col"><b><%=product.name%></b></td>
                                        <% let totalPro = 0;%>
                                    <% hotels.map((hotel)=>{
                                       
                                        let total=0;
                                        data.forEach((data)=>{
                                            if(data.vendor_id==hotel && data.p_id == product.id){
                                            total = total + parseFloat(data.quantity);
                                            totalPro = totalPro + parseFloat(data.quantity);
                                            unit = product.weight_type;
                                            } })
                                        %>
                                        <th><%if(total % 1 != 0){%>
                                            <%= total.toFixed(2) %>
                                            <%}else{%>
                                                <%=total%>
                                                <%}%>
                                        </th>
                                        <%
                                        }) %>
                                        <th><%if(totalPro % 1 != 0){%>
                                            <%= totalPro.toFixed(2) %>
                                            <%}else{%>
                                                <%=totalPro%>
                                                <%}%>
                                                <%= unit%>
                                        </th>
                                    </tr>
                                
                                    <%
                              
                                  })%>



                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </div>



    <%- include("footer") %>


    <script>
        c3 = $('#total-purchase1').DataTable({
    "order": [[<%=hotels.length + 1%>, "desc"]],
    "oLanguage": {
        "oPaginate": {
            "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
            "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
        },
        "sInfo": "Showing page _PAGE_ of _PAGES_",
        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
        "sSearchPlaceholder": "Search...",
        "sLengthMenu": "Results :  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [5, 10, 20, 50,100],
   
    "pageLength": 100,
    
   
});

multiCheck(c3);
</script>