<%- include("header") %>
    <div id="content" class="main-content">

        <div class="layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header mb-4">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h3><b>Total Order</b></h3>


                            </div>
                        </div>
                    </div>




                    <p>delivery date</p>

                    <div class="input-group mb-4">
                        <input type="text" name="date" id="TDate" class="form-control" value="<%= data[0].date %>" placeholder="<%= data[0].date %>" aria-label="<%= data[0].date %>" disabled>
                    </div>
                    <div class="table-responsive mb-4">
                        <p>Hotels-Product & Quantity</p>

                        <table id="total-order1" class="table style-3  table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th class="checkbox-column text-center"></th>
                                    <% 
                                    let hotels = [];
                                    let newH = [];
                                    data.forEach((product)=>{
                                        if(!hotels.includes(product.hotel_id)){
                                        %>
                                    <th><%= product.hotel_name%></th>
                                 <%
                                    hotels.push(product.hotel_id)
                                    newH.push(product.order_id);
                                     } }) %>
                                  <th>Total Quantity</th>
                                  <th>Vendor</th>
                                  <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>

                                <%
                                let flag =1; 
                                 if(flag){
                                %>
                                <tr>
                                    <td></td>
                                    <td  class="checkbox-column text-center sticky-col"><b></td>
                                <%
                                
                                    newH.map((hotel)=>{
                                      
                                        %>
    
                                    
                                 <td><a class="btn btn-primary" target="_blank" href="/order/editOrder/<%=hotel%>">Edit</a></td>
                                

                                           
                                            <% })  %>
                                            <td></td>
                                            <td></td>
                                                  
                                                <td  class="checkbox-column text-center sticky-col"><b></td>
                                   
                                                    </tr>
                                                    <% 
                                                    flag=0;                  
                                                    }
                                                     %>

                                <%  
                                
                              
                                product.map((product)=>{
                                    let unit;
                               
                            %>
                           
                           
                                    <tr>
                                        <td><%=product.id%></td>
                                        <td  class="checkbox-column text-center sticky-col"><b><%=product.name%></b></td>
                                        <% let totalPro = 0;%>
                                    <% hotels.map((hotel)=>{
                                       
                                        let total=0;
                                        data.forEach((data)=>{
                                            if(data.hotel_id==hotel && data.p_id == product.id){
                                            total = parseFloat(total) + parseFloat(data.quantity);
                                            totalPro = parseFloat(totalPro) + parseFloat(data.quantity);
                                            unit = product.weight_type;
                                            } })
                                           
                                        %>
                                        <td><%if(total % 1 != 0){%>
                                            <%= total %>
                                            <%}else{%>
                                                <%=total%>
                                                <%}%>
                                        </td>
                                        <%
                                        }) %>
                                        <td><%if(totalPro % 1 != 0){%>
                                            <%= totalPro %>
                                            <%}else{%>
                                                <%=totalPro%>
                                                <%}%>
                                                <%= unit%>
                                        </td>
                                       <td>
                                       
                                        <input id="quantity<%= product.id %>" type="number" step="0.1" value="<%=totalPro %>" placeholder=" quantity" aria-label="enter the quantity" hidden>
                                       
                                            
                                                <select  name="ref" id="vendor<%= product.id %>" onchange="addVendor(<%= product.id %>)"  class="ref placeholder js-states form-control">
                                                    <option>Select</option>
                                                </select>

                                                                              
                                       

                                       </td>
                                       <td>
                                       
                                        <input id="price<%= product.id%>" class="form-control" type="number" value="0"  placeholder="price">
                                            
                                       </td>
                                    </tr>
                                
                                    <%
                              
                                  })%>



                            </tbody>
                        </table>
                    </div>


                    <div class="container">
                        <div class="center">
                           
                            <button class="mt-4 btn btn-primary" onclick="addpurchase()">Add Purchase</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        let arr = [];
    async function addVendor(id){
       vendor = document.getElementById(`vendor${id}`).value;
       if (vendor) {
        arr.push(id);
    //    console.log(arr);   
       }
       
        }
async function addpurchase(){
    try{
        let date = document.getElementById('TDate').value
        console.log(date);
        if (date === null) throw 'Select Purchase Date';
        if (arr.length ==0) throw 'Add Valid purchase details';

        swal({
      title: 'Are you sure?',
      text: "Please check the data is entered is correct or not !!  ",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Add Purchase',
      padding: '2em'
    }).then(async function(result) {
      if (result.value) {
          let data = [];
          let exist = [];
        //   var d = new Date();
        //   date = d.getDate()+'-'+d.getMonth()+'-'+d.getFullYear();
        arr.map((id)=>{
            if (!exist.includes(id)) {     
                      
        vendor = document.getElementById(`vendor${id}`).value;
                 document.getElementById(`price${id}`).value;
                 document.getElementById(`quantity${id}`).value;
                 
       if (vendor && document.getElementById(`quantity${id}`).value !=0) {
        data.push({"id":id,"vendor":vendor,"price":document.getElementById(`price${id}`).value,"quantity":document.getElementById(`quantity${id}`).value,"date":date})
       }
      exist.push(id);
            }
        // console.log(data);

        });
            data.map(async(data)=>{
               let out = await axios.post(`<%=domain%>/order/addTotalPurchase`,{
            id:data.id,
            ref:data.vendor,
            quantity:data.quantity,
            price:data.price,
            date:`${date}`,
            type:'VENDOR'
               })
            //    console.log(out)
            })
           
    
             swal(
          'Data Added',
          'Purchase has been added!!',
          'success'
        )
        
       await setTimeout(function(){ location.reload(); }, 3000);


        
       


    }
    })

    }catch(err){
        swal({
      title: 'Error !!',
      text: `${err}`,
      type: 'warning'
        })
    }
   
}


        function makeGetRequest(path) {
            axios.get(path).then(
                (response) => {
                    var result = response.data;
                  
                    for (let i = 0; i < <%=product.length%>; i++) {
                        
                 Tlist = document.getElementsByClassName('ref')[i].id;
                   
                   sb = document.querySelector(`#${Tlist}`);
                //   console.log(result);
                  result.map((users) => {
                      let option = new Option(users.name, users.id);
                      // add it to the list
                      sb.add(option, users.id);
                  });  
                    }
                     
                   
                  

                    // console.log(result.details[0].name);
                },
                (error) => {
                    console.log(error);
                }
            );
        }
        makeGetRequest('<%=domain%>/interact/getVendors');
    </script>
    <%- include("footer") %>
    <script>
            c3 = $('#total-order1').DataTable({
            "searching": false,

        "order": [[0, "asc"]],
        "oLanguage": {
            "oPaginate": {
                "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
            },
            "sInfo": "Showing page _PAGE_ of _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Search...",
            "sLengthMenu": "Results :  _MENU_",
        },
        "stripeClasses": [],
        "lengthMenu": [5, 10, 20, 50,100],
       
        "pageLength": 100,
        
       
    });
   
    multiCheck(c3);
</script>