<%- include("header") %>
    <div id="content" class="main-content">

        <div class=" layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h3><b>Total Order</b></h3>
                                <div class="mt-4">
                                    <p>Select date</p>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="date" id="total" class="form-control" placeholder="dd/mm/yyyy" aria-label="dd/mm/yyyy">
                                    </div>

                                    <div class="container">
                                        <div class="center">
                                            <button onclick="getTotal()" class="mt-4 btn btn-primary">Submit</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statbox widget box box-shadow" style="margin-top: 2%;">

                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <div class="widget-content widget-content-area">
                                    <h3><b>View Order</b></h3>

                                    <div class="input-group mt-4 mb-4">
                                        <p>Select hotel</p>

                                        <select id="list" class="placeholder js-states form-control">
                  
                </select>
                                    </div>


                                    <div class="container">
                                        <div class="center">
                                            <button onclick="getHotelOrder()" class="mt-4 btn btn-primary">Submit</button>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/axios.js"></script>

    <script>
        function getTotal() {
            let date = document.getElementById("total").value;
            if (!date) {
                swal({
                    title: 'Select Date ?',
                    text: "Select a valid date",
                    type: 'question',
                    padding: '2em'
                })
            } else {


                function makeGetRequest(path) {
                    axios.get(path).then(
                        (response) => {
                            var result = response.data;

                            if (result.length === 0) {
                                swal({
                                    title: 'No orders available',
                                    text: "Orders is not placed for this date",
                                    type: 'question',
                                    padding: '2em'
                                })
                            } else {
                                window.location = `<%=domain%>/order/getOrder/${date}`;
                            }
                        },
                        (error) => {
                            console.log(error);
                        }
                    );
                }
                makeGetRequest(`<%=domain%>/order/getOrder/${date}`);
            }
        }

        function getHotelOrder() {
            const id = document.getElementById("list").value;
            window.location = `<%=domain%>/order/getHotelOrders/${id}`;

        }

        function makeGetRequest(path) {
            axios.get(path).then(
                (response) => {
                    var result = response.data;

                    const sb = document.querySelector('#list');
                    console.log(result);
                    result.map((users) => {
                        let option = new Option(users.name, users.id);
                        // add it to the list
                        sb.add(option, users.id);
                    });

                    // console.log(result.details[0].name);
                },
                (error) => {
                    console.log(error);
                }
            );
        }
        makeGetRequest('<%=domain%>/interact/getHotel');
    </script>
    <%- include("footer") %>