<%- include("header") %>
    <div id="content" class="main-content">

        <div class="layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h3><b>View Purchase</b></h3>

                                <div class="mt-4">
                                    <h5>Purchase details</h5>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="input-group mt-4 mb-4">
                        <p>Vendor Name</p>

                        <select name="ref" id="list" class="placeholder js-states form-control" disabled>
<option value="<%= data[0].vendor.vendor_id%>"><%= data[0].vendor.vendor_name %><option>
</select>
                    </div>
                    <p>delivery date</p>

                    <div class="input-group mb-4">
                        <input type="text" name="date" id="dateTimeFlatpickr" class="form-control" value="<%= data[0].date %>" placeholder="dd/mm/yyyy" aria-label="dd/mm/yyyy" disabled>
                    </div>
                    <div class="table-responsive mb-4">
                        <p>Product & Quantity</p>

                        <table id="viewVendorOrder" class="table style-3  table-hover">
                            <thead>
                                <tr>
                                    <th class="checkbox-column text-center"> Record Id </th>
                                    <th> Name</th>
                                    <!-- <th>Marathi Name</th> -->
                                    <th>quantity</th>
                                    <th>price</th>

                                </tr>
                            </thead>
                            <tbody>
                                <%  let c=1

                            data[0].products.forEach((product)=>{ %>
                                    <tr>
                                        <td class="checkbox-column text-center">
                                            <%= product.id %>
                                        </td>
                                        <td>
                                            <%= product.name %>
                                        </td>
                                       
                                        <td>
                                            <%=product.quantity%> <%= product.weight_type%>
                                        </td>
                                        <td>
                                            <%=product.price%> ₹
                                        </td>
                                    </tr>
                                    <% c++; %>
                                        <% }); %>




                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>



    <%- include("footer") %>

    <script>
        c3 = $('#viewVendorOrder').DataTable({
    "order": [[0, "asc"]],
    "oLanguage": {
        "oPaginate": {
            "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
            "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
        },
        "sInfo": "Showing page _PAGE_ of _PAGES_",
        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
        "sSearchPlaceholder": "Search...",
        "sLengthMenu": "Results :  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [5, 10, 20, 50,100],
   
    "pageLength": 50,
    
   
});

multiCheck(c3);
</script>